.contant{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 40px 0;
}

@media (max-width:720px){
    .contant{
        flex-direction: column;
        align-items: center;
        justify-content:  flex-start;
        padding: 0;
    }
}